html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ccc;
  background-color: #fff;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px #ccc;
  background-color: #e8e8e8;
}

::-webkit-scrollbar-button {
  background-color: #fff;
}

::-webkit-scrollbar-corner {
  background: #fff;
}
